
body{
    background-color: rgb(252, 253, 249);
    background-image: url(Imagenes/fondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

nav .servicios{
    justify-content: center;
    justify-items: center;
}
div .Nosotros{
    margin: 5%;
}

.Planes{
  display:flex;
}

.gaa{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}