
body{
    background-color: rgb(243, 243, 243);
    background-image: url(Imagenes/fondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.grupo5{
    display: flex;
    justify-content: center;
}

.texto{
    padding: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
.gaa{
    margin: 2%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.info{
    line-height: 10px;
}