
body{
    background-color: rgb(243, 243, 243);
    background-image: url(Imagenes/fondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.grupo5{
    display: flex;
    justify-content: center;
}

.gaa{
    margin: 2%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}